$root-block-name: '.mallCheckout';

#{$root-block-name} {
  $p: &;
  $p__text: #{$p}__text;
  $p__item: #{$p}__item;

  &__text {
    &--title {
      font-family: Noto Sans TC;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__product {
    @include flex(center);
    padding: 24px 48px;
    @include screen(md) {
      padding: 12px;
      @include flex(center, null, column);
    }

    gap: 24px;
    &-item {
      @include flex(center);
      &--selected {
        width: fit-content;
      }

      &--img {
        width: 113px;
      }
      &--name {
        flex: 1;
        #{$p__text} {
          font-size: 20px;
          font-weight: 400;
        }
      }

      &--quantity {
        min-width: 100px;
        @include flex(center, space-between);
      }

      &--price {
        width: 20%;
        justify-content: end;
        #{$p__text} {
          font-size: 32px;
          font-weight: 700;
          color: #fe4206;
        }
      }

      &--delete {
        min-width: 22px;
        color: #0e4dff;
        font-size: 22px;
      }
    }
    &-quantityBtn {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: none;
      color: #ffe7cc;
      background: #0e4dff;
      @include flex(center, center);

      &--decrease,
      &--increase {
      }
    }
  }
  &__shippings {
    padding-bottom: 100px;
    padding-top: 48px;
    padding-left: 48px;
    padding-right: 48px;
    @include screen(md) {
      padding: 12px;
    }
  }
  &__shipping {
    @include flex(center);
    gap: 24px;
    @include screen(md) {
      flex-direction: column;
    }
    &-item {
      @include flex(center);
      &--title {
        min-width: 40px;
      }

      &--options {
        flex: 1;
        @include flex(start, null, column);
        gap: 24px;
      }

      &--price {
        min-width: 100px;
        #{$p__text} {
          color: #fe4206;
          font-family: Noto Sans TC;
          font-size: 32px;
          font-weight: 700;
        }
      }
    }

    &-option {
      @include flex;
      gap: 24px;
    }
  }

  &__form {
    width: 100%;
    @include flex(null, null, column);
    &-inputs {
      @include flex(nul, null, column);
      &--names {
        @include flex(nul, null, row);
        @include screen(md) {
          @include flex(nul, null, column);
        }
      }
      &--credit {
        @include flex(nul, null, row);
        @include screen(md) {
          @include flex(nul, null, column);
        }
      }
      &--addr {
        @include flex(end);
        gap: 24px;
        @include screen(xs) {
          gap: 6px;
          @include flex(start, null, column);
        }
      }
    }
    #{$p__text} {
      min-height: 22px;
      color: #212121;
      @include flex(end);
      &--required {
        &::after {
          content: '*';
          color: #fe4206;
          display: block;
          margin-left: 4px;
        }
      }
      margin-bottom: 4px;
      &--error {
        color: #fe4206;
      }
    }

    &-input {
      @include w_h(100%, 50px);
      padding: 14px 20px;
      border-radius: 8px;
      border: 1px solid #d4d4d4;
      &--error {
        border: 1px solid #fe4206;
      }
    }
  }
  &__divider {
    width: 100%;
    height: 1px;
    background: #cf8046;
    margin: 24px 0;
  }

  &__invoice {
    @include flex(center);
    gap: 24px;
    &-item {
      @include flex(center);
      &--title {
        min-width: 40px;
      }

      &--select {
        flex: 1;
        @include flex(start, null, column);
        gap: 24px;
      }
    }

    &-select {
      width: 100%;
      max-width: none;
      height: 50px;
      border-radius: 8px;
      border: 1px solid #d4d4d4;
      background: #fff;
    }
  }

  &__payment {
    @include flex(center);
    gap: 24px;
    &-item {
      @include flex(center);
      &--title {
        min-width: 40px;
      }

      &--options {
        flex: 1;
        @include flex(start, null, column);
        gap: 24px;
      }
    }

    &-option {
      @include flex;
      gap: 24px;
    }
  }
  &__total {
    margin-top: 24px;
    padding: 0 64px;
    @include flex(end, null, column);

    @include screen(md) {
      padding: 0 12px;
    }

    &-item {
      @include flex(center);
      #{$p__text} {
        @include flex(center, end);
        &--title {
          width: 100px;
        }
        &--money {
          width: 150px;
        }
        &--totalMoney {
          width: 150px;
          font-size: 32px;
          font-weight: 700;
          color: #fe4206;
        }
      }
    }
  }
  &__btns {
    @include flex(null, end);
    margin: 48px 0;
    gap: 24px;
    @include screen(xs) {
      @include flex(center, center, column);
    }
  }

  &__btn {
    width: 100%;
    max-width: 336px;
    height: 72px;
    border-radius: 90px;
    cursor: pointer;
    @include flex(center, center);
    font-size: 36px;
    font-weight: 900;

    &--back {
      border: 1px solid #fe4206;
      color: #fe4206;
    }
    &--checkout {
      background: #fe4206;
      color: #fff;
    }

    &--selectAll {
      background: #eb9838;
      color: #fff;
      width: 120px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      border-radius: 10px;
      border: 2px solid #000;
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.mallCheckout__button {
  background: #eb9838;
  color: #fff;
  width: 150px;
  height: 56px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 160px;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #000;
  font-size: 25px;
  font-weight: 500;
}
