// Abstracts
@import 'abstracts/breakpoints';
@import 'abstracts/functions';
@import 'abstracts/variables';
@import 'abstracts/mixins';

// Base
@import 'base/base';
@import 'base/animations';
@import 'base/typography';
@import 'base/utilities';
// Components
@import 'components/m-card';
@import 'components/product-card';
@import 'components/product-card2';
@import 'components/dialog/dialog';
@import 'components/dialog/confirm-dialog';
@import 'components/dialog/daliy-dialog';
@import 'components/dialog/onekuji-dialog';
@import 'components/dialog/info-dialog';
@import 'components/slider';
@import 'components/breadcrumbs';
@import 'components/m-select';
@import 'components/m-input';
@import 'components/c-table';
// Layout
@import 'layout/header';
@import 'layout/footer';

// Pages
@import 'pages/login';
@import 'pages/register';
@import 'pages/home';
@import 'pages/product';
@import 'pages/product2';
@import 'pages/product3';
@import 'pages/product-detail';
@import 'pages/product-detail-one';
@import 'pages/memberCenter';
@import 'pages/loader';
@import 'pages/mall';
@import 'pages/mall-product';
@import 'pages/mallCheckout';
@import 'pages/mallOrderSuccess';
@import 'pages/no-data';
// themes
// ec6ab1 f29bcb f8cde5
//
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;
}
.flex-auto {
  flex: auto;
}
.flex-1 {
  flex: 1;
}
.text {
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}

$width-item-nums: 100;
$gap-nums: 100;
$font-size-nums: 200;
$letter-spacing-nums: 100;
@for $i from 1 through $width-item-nums {
  .w-#{$i} {
    width: #{$i}#{'%'} !important;
  }
  .h-#{$i} {
    height: #{$i}#{'%'} !important;
  }
  .flex-basis-#{$i} {
    flex-basis: #{$i}#{'%'} !important;
  }
  .p-#{$i} {
    padding: #{$i}#{'px'};
  }
  .p-x-#{$i} {
    padding-left: #{$i}#{'px'};
    padding-right: #{$i}#{'px'};
  }
  .p-y-#{$i} {
    padding-top: #{$i}#{'px'};
    padding-bottom: #{$i}#{'px'};
  }
  .p-t-#{$i} {
    padding-top: #{$i}#{'px'};
  }
  .p-r-#{$i} {
    padding-right: #{$i}#{'px'};
  }
  .p-b-#{$i} {
    padding-bottom: #{$i}#{'px'};
  }
  .p-l-#{$i} {
    padding-left: #{$i}#{'px'};
  }

  .m-#{$i} {
    margin: #{$i}#{'px'};
  }
  .m-x-#{$i} {
    margin: #{$i}#{'px'};
    margin-right: #{$i}#{'px'};
  }
  .m-y-#{$i} {
    margin-top: #{$i}#{'px'};
    margin-bottom: #{$i}#{'px'};
  }
  .m-t-#{$i} {
    margin-top: #{$i}#{'px'};
  }
  .m-r-#{$i} {
    margin-right: #{$i}#{'px'};
  }
  .m-b-#{$i} {
    margin-bottom: #{$i}#{'px'};
  }
  .m-l-#{$i} {
    margin-left: #{$i}#{'px'};
  }
  .g-column-#{$i} {
    grid-column: span #{$i} !important;
  }
  .g-row-#{$i} {
    grid-row: span #{$i} !important;
  }
}

@mixin spacing($property, $i) {
  #{$property}-#{$i} {
    #{$property}: #{$i}px;
  }
  #{$property}-x-#{$i} {
    #{$property}-left: #{$i}px;
    #{$property}-right: #{$i}px;
  }
  #{$property}-y-#{$i} {
    #{$property}-top: #{$i}px;
    #{$property}-bottom: #{$i}px;
  }
  #{$property}-t-#{$i} {
    #{$property}-top: #{$i}px;
  }
  #{$property}-r-#{$i} {
    #{$property}-right: #{$i}px;
  }
  #{$property}-b-#{$i} {
    #{$property}-bottom: #{$i}px;
  }
  #{$property}-l-#{$i} {
    #{$property}-left: #{$i}px;
  }
}

@for $i from 0 through 100 {
  @include spacing('padding', $i);
  @include spacing('margin', $i);
}

@for $i from 0 through 100 {
  @include spacing('padding', $i);
  @include spacing('margin', $i);
}

@for $i from 1 through $gap-nums {
  .gap-#{$i} {
    column-gap: #{$i}#{'px'};
    row-gap: #{$i}#{'px'};
  }
  .gap-x-#{$i} {
    column-gap: #{$i}#{'px'};
  }
  .gap-y-#{$i} {
    row-gap: #{$i}#{'px'};
  }
}

@for $i from 1 through $font-size-nums {
  .font-size-#{$i} {
    font-size: #{$i}#{'px'};
  }
}

@for $i from 1 through $letter-spacing-nums {
  .letter-spacing-#{$i} {
    letter-spacing: #{$i}#{'px'};
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(100, 1fr); // 默認 100 列
}

@for $i from 1 through 100 {
  .col-#{$i} {
    grid-column: span $i;
  }

  @media (max-width: 1200px) {
    .col-lg-#{$i} {
      grid-column: span $i;
    }
  }

  @media (max-width: 992px) {
    .col-md-#{$i} {
      grid-column: span $i;
    }
  }

  @media (max-width: 768px) {
    .col-sm-#{$i} {
      grid-column: span $i;
    }
  }
}

.upload {
  @include flex(center, center, column);
  position: relative;
  width: 100%;
  padding: 36px;
  color: #434343;
  cursor: pointer;
  border: 0.1875em dashed #c5c7c945;
  background-color: #fff;
  &__input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }
  &__logo {
    @include flex(null, null, row);
    margin-bottom: 36px;
  }
  &__icons {
    @include flex(null, null, row);
    gap: 12px;
  }
  &__icon {
    @include w_h(50px, 50px);
    @include flex(center, center, column);
    color: #fff;
    border-radius: 6px;
    &--cloud {
      background: #d6e6f6;
    }
    &--video {
      background: #f4e9f5;
      transform: rotate(-15deg);
    }
    &--list {
      background: #fce7ee;
      transform: rotate(15deg);
    }
    &--music {
      background: #feece7;
      transform: rotate(-10deg);
    }
    &--image {
      background: #e8f3f4;
      transform: rotate(10deg);
    }
    &--play {
      background: #fce7ee;
      transform: rotate(-15deg);
    }
  }
}

.hidden {
  display: none;
}

.layout {
  width: 100vw;
  &__main {
    width: 100%;
    min-height: 636px;
    height: 100%;
    padding: 36px 12%;
    @include screen(lg) {
      padding: 36px 4%;
    }
    @include screen(md) {
      padding: 8px 4%;
    }
    @include screen(xs) {
      min-height: auto;
    }
  }
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-align-justify {
  text-align: justify;
}

.text-align-end {
  text-align: end;
}

.text-align-start {
  text-align: start;
}

.flex {
  display: flex;
}
.flex-auto {
  flex: auto;
}

.flex-1 {
  flex: 1;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evenly {
  justify-content: space-evenly;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-grow {
  flex-grow: 1;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.wheel__seat {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.wheel {
  --size: 320px;
  --lg-hs: 0 3%;
  --lg-stop: 50%;
  --lg: linear-gradient(
    hsl(var(--lg-hs) 0%) 0 var(--lg-stop),
    hsl(var(--lg-hs) 20%) var(--lg-stop) 100%
  );

  $p: &;
  $p__spinner: #{$p}__spinner;
  $p__ticker: #{$p}__ticker;

  position: relative;
  display: grid;
  grid-gap: calc(var(--size) / 20);
  align-items: center;
  grid-template-areas: 'spinner';
  position: absolute;
  top: -210px;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  > * {
    grid-area: spinner;
  }

  &__center {
    width: 50px;
    height: 50px;
    @include abs-center;
  }

  &__spinner {
    position: relative;
    display: grid;
    align-items: center;
    grid-template-areas: 'spinner';
    width: var(--size);
    height: var(--size);
    transform: rotate(calc(var(--rotate, 25) * 1deg));
    border-radius: 50%;
    * {
      grid-area: spinner;
    }
  }

  &__ticker {
    position: absolute;
    width: 50px;
    top: 50%;
    left: -15px;
    transform: translateY(-50%) rotate(-90deg);
    img {
      object-fit: contain;
    }
  }

  &__prize {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 45px;
    width: 50%;
    height: 50%;
    transform-origin: center right;
    transform: rotate(var(--rotate));
    user-select: none;
    color: #e7bd62;
    font-size: 24px;
  }

  &--spinning {
    #{$p__spinner} {
      transition: transform 8s cubic-bezier(0.1, -0.01, 0, 1);
    }
  }
}

@keyframes selected {
  25% {
    transform: scale(1.25);
    text-shadow: 1vmin 1vmin 0 hsla(0 0% 0% / 0.1);
  }
  40% {
    transform: scale(0.92);
    text-shadow: 0 0 0 hsla(0 0% 0% / 0.2);
  }
  60% {
    transform: scale(1.02);
    text-shadow: 0.5vmin 0.5vmin 0 hsla(0 0% 0% / 0.1);
  }
  75% {
    transform: scale(0.98);
  }
  85% {
    transform: scale(1);
  }
}
//
.cartBtn {
  background: #eb9838;
  border: 2px solid #eb9838;
  border-radius: 50%;
  box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3);
  @include w_h(68px, 68px);
  cursor: pointer;
  text-align: center;
  position: fixed;
  right: 3%;
  bottom: 10%;
  z-index: 999;
  transition: 0.3s;
  animation: pulseEffect linear 1s infinite;

  &__main {
    @include w_h(100%, 100%);
    @include flex(center, center);
    position: relative;
    overflow: hidden;

    &-icon {
      color: #fff;
      font-size: 30px;
      transition: 0.3s;
      animation: fadeInOut 3s infinite;
    }
  }
}

@-webkit-keyframes pulseEffect {
  0% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 0 rgba(254, 230, 204, 0.2), 0 0 0 0 rgba(254, 230, 204, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 15px rgba(254, 230, 204, 0.2), 0 0 0 0 rgba(254, 230, 204, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 30px rgba(254, 230, 204, 0), 0 0 0 26.7px rgba(254, 230, 204, 0.067);
  }
  100% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 30px rgba(254, 230, 204, 0), 0 0 0 40px rgba(254, 230, 204, 0);
  }
}

@keyframes pulseEffect {
  0% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 0 rgba(254, 230, 204, 0.2), 0 0 0 0 rgba(254, 230, 204, 0.2);
  }
  40% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 15px rgba(254, 230, 204, 0.2), 0 0 0 0 rgba(254, 230, 204, 0.2);
  }
  80% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 30px rgba(254, 230, 204, 0), 0 0 0 26.7px rgba(254, 230, 204, 0.067);
  }
  100% {
    box-shadow: 0 8px 10px rgba(254, 230, 204, 0.3),
      0 0 0 30px rgba(254, 230, 204, 0), 0 0 0 40px rgba(254, 230, 204, 0);
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
